<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('admin_panel') %></span>

  <div class="nav-admin user">
    <%= t('welcome_admin_html', name: current_user.name) %> Guru |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete%>
  </div>
</div>
