<footer>
<p>
  Year: <%= current_year %><br>
  Project: <%= github_url(TestGuru::AUTHOR, TestGuru::LINK) %><br>
  Description: Учебный проект в <a href='http://thinknetica.com/'>онлайн-школе Thinknetica</a>
</p>
</footer>
