<footer>
<p>
  Year: <%= current_year %><br>
  Project: <%= github_url(TestGuru::AUTHOR, TestGuru::GITHUB_URL) %><br>
  Description: Учебный проект в <a href='http://thinknetica.com/' target=_blank>онлайн-школе Thinknetica</a>
</p>
</footer>
