<tr>
  <td><%= answer.body %>
  <td><%= link_to t('show'), admin_answer_path(answer) %></td>
  <td><%= link_to t('edit'), edit_admin_answer_path(answer) %></td> 
  <td>
    <%= link_to t('delete'), 
                admin_answer_path(answer), method: :delete, 
                data: { confirm: t('confirm_delete')  } %>
  </td><br>              
</tr>
