@import "bootstrap";
@import "typography/icons.scss";
@import "global.scss";
@import "test_passages";

.navbar-fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.container {
  margin-left: 10px;
}
