@import "bootstrap";
@import "typography/icons.scss";
@import "global.scss";
@import "test_passages";

.navbar-fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container {
  margin-left: 10px;
  margin-bottom: 60px;

  position: relative;
}
